html{
  scroll-behavior:smooth;
}
header{
background-color:transparent;
  width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px 50px;
}
header a{
color: black;
text-decoration: none;
font-size: 2.5em;
font-weight: 500;
padding-left: 30px
}
.nav a:hover{
  color: brown;
  transition: 0.7s;
}
.details{
    margin-left: 215px;
}
h1{
    margin-left: 215px;
}
.komy{
    margin-left: 215px;
}
img
    {
      margin-left: 215px;
      margin-top: 50px;
      width: 68%;
      height: 600px;

}

.koko{
  text-decoration: none;
  display: inline-flex;
  padding-left: 16px;
  padding-top: 14px;
  margin-left: 675px;
  background-color: black;
  font-size: 3em;
  height: 80px;
  width: 80px;
  color: white;
  border-radius: 75px;
  font-weight: 700;
}

.footer{
display: flex;
justify-content: center;
background-color:rgb(170,65,14) ;
color: white;
padding: 20px 0px ;
margin-bottom: 0;
}
.next{
  text-decoration: none;
  margin-bottom: 20px;
  margin-left:1000px;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
}
.next:hover{
  opacity: 0.7;
  color: brown;
  transition: 0.4s;

}
.btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0px 210px;
  font-size: 1.2em;
}
.btn:hover{
  opacity: 0.7;
  color: brown;
  transition: 0.4s;
}
.btn a{
  text-decoration: none;
  color: black;
}
.btn a:hover{
  opacity: 0.7;
  color: brown;
  transition: 0.4s;

}
.pervious1{
  text-decoration: none;
  margin-left:220px;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
}
.pervious1:hover{
  opacity: 0.7;
  color: brown;
  transition: 0.4s;
}
.wix a{
  color:white;
}
